---
git:
  source:
    uri: SOURCE_REPO_URI
    branch:
      dev: DEV_BRANCH
      prod: PROD_BRANCH
  pipeline:
    uri: PIPELINE_REPO_URI
    branch: PIPELINE_BRANCH
  out:
    uri: ARTIFACT_REPO_URI
    branch:
      dev: ARTIFACT_BRANCH_FOR_DEV
      prod: ARTIFACT_BRANCH_FOR_PROD
  host: GITLAB_HOST
  username: GITLAB_USERNAME
  email: GITLAB_EMAIL
  token: GITLAB_TOKEN
  private_key: |-
    -----BEGIN RSA PRIVATE KEY-----
    YOUR_KEY
    -----END RSA PRIVATE KEY-----

pws:
  api: PWS_API
  app:
    domain: PWS_APP_DOMAIN
    hostname: PWS_APP_HOSTNAME
  organization: PWS_ORG
  space:
    dev: PWS_SPACE_FOR_DEV
    prod: PWS_SPACE_FOR_PROD
  username: PWS_USERNAME
  password: PWS_PASSWORD

concourse:
  url: CONCOURSE_URL
  pipeline: CONCOURSE_PIPELINE_NAME
  username: CONCOURSE_USERNAME
  password: CONCOURSE_PASSWORD
