---
git:
  source:
    uri: GITLAB_REPO_TO_BUILD
    project_root: SUB_DIRECTORY_WHERE_POM_FILE_LOCATED
    branch:
      dev: DEV_BRANCH
      prod: PROD_BRANCH
  pipeline:
    uri: PIPELINE_REPO
    branch: PIPELINE_BRANCH_TO_APPLY
  out:
    uri: ARTIFACT_REPO
    branch:
      dev: DEV_BRANCH
      prod: PROD_BRANCH
  host: GITLAB_HOST
  username: GIT_USER
  email: GIT_USER_EMAIL
  token: GITLAB_TOKEN
  private_key: |-
    -----BEGIN RSA PRIVATE KEY-----
    YOUR_PRIVATE_KEY
    -----END RSA PRIVATE KEY-----

pws:
  api: PWS_API_URI
  app:
    domain: PWS_APP_DOMAIN
    hostname: PWS_APP_HOSTNAME_TO_USE
  organization: PWS_APP_ORG
  space:
    dev: PWS_SPACE_FOR_DEV_BRANCH
    prod: PWS_SPACE_FOR_PROD_BRANCH
  username: PWS_USERNAME
  password: PWS_PASSWORD

concourse:
  url: CONCOURSE_URL
  pipeline: CONCOURSE_PIPELINE_NAME_TO_MODIFY
  username: CONCOURSE_USERNAME
  password: CONCOURSE_PASSWORD
